.archived {
	color: #b5b5b5;
}


table.thread-list > tbody > tr {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}

table.thread-list tr > th:first-child,
table.thread-list tr > td:first-child {
	max-width: 0;
	width: 100%;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
}


table.thread-list tr > th,
table.thread-list tr > td,
table.thread-list tr > td * {
	white-space: nowrap;
}

table.thread-list > tbody > tr:last-child {
	border-bottom: 1px solid #dee2e6;
}


@media screen and (max-width: 992px) {
	table.thread-list tr > th:not(:first-child),
	table.thread-list tr > td:not(:first-child) {
		display: none;
	}
}