/* General
----------------------------------------- */

.navbar {
	color: gray;
}

.navbar a {
	color: white;
}

.board-list a {
	padding: 0 6px;
}


/* Keyframes
----------------------------------------- */

@keyframes autofill
{
	100% {
		background: transparent;
		color: inherit;
	}
}
@-webkit-keyframes autofill
{
	100% {
		background: transparent;
		color: inherit;
	}
}